@model WebApplication1_DZ3.Models.Product
@{
    ViewBag.Title = "_ProductTable";
}

        <tr>
            <td>@Model.id</td>
            <td>@Model.name</td>
            <td>@Model.price</td>
            <td>@Model.createdDate</td>
        </tr>
