@*
    @model IEnumerable<WebApplication1_DZ3.Models.Product>
*@

@{
    ViewBag.Title = "Index";
    //   WebApplication1_DZ3.Models.ActionLink.currentLink = ViewBag.Title;
}

@section Header{
    @for (int i = 0; i < WebApplication1_DZ3.Models.ActionLink.nameLink.Length; i++)
    {
        WebApplication1_DZ3.Models.ActionLink.currentLink = WebApplication1_DZ3.Models.ActionLink.nameLink[i];
        if (WebApplication1_DZ3.Models.ActionLink.currentLink != ViewBag.Title)
        {
            <a>@Html.RouteLink("Get " + WebApplication1_DZ3.Models.ActionLink.currentLink.ToString(), new { controller = "Product", action = WebApplication1_DZ3.Models.ActionLink.currentLink })</a>
        }
    }

    @* Выше алгоритм динамики, ниже хард код - закоментировал!!!! Возможно его вынести как метод то в других

        @Html.RouteLink("Главная страница", new { controller = "Product", action = "index" })
        @Html.RouteLink("Показать список", new { controller = "Product", action = "ProductList" })
        @Html.RouteLink("Показать таблицу", new { controller = "Product", action = "ProductTable" })
    *@
}

